<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: rgba(28, 28, 124, 0.699)">
    <div class="container">
        <form action="/<%=token%>" method="POST" id="routineForm">
            <div class="cardHolder">
                <div class="card allowOverflow fixedHeight">
                    <h2>1. ROUTINE:</h2>
                    <form action="/<%=token%>" method="post">

                        <% if(!locals.routine || !locals.startTime) { %>
                            <% for(var i = 0; i< locals.day.length; i++) { %>
                                <button class="accordion last" type="button">
                            <span id="<%= i %>" class="day"><%= locals.day[i] %></span>
                            <span class="icon">&plus;</span>
                        </button>
                                <div class="routine">
                                    <div class="routineModule">
                                        <div class="individualRoutine">
                                            <select name="subjectStartTime<%= i %>" class="timeSelection">
                                        <%- include('partials/options') %>
                                    </select>
                                            <input type="text" class="subjectNameInput" name="subjectName<%= i %>" placeholder="Subject Name">
                                            <div class="modifyRoutineButtons">
                                                <button type="button" class="doneRoutine">&check;</button>
                                                <button type="button" class="addRoutine">&plus;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <p>Hello</p>
                                        <% } %>


                </div>

                <div class="card divideIntoTwo">
                    <div class="innerCard grid allowOverflow">
                        <h2>2. Classroom Links:</h2>
                        <div class="links">
                            <% if (!locals.meetSubjects || !locals.meetLinks) { %>
                                <div class="link">
                                    <select name="subjectNameSelection" id="subjectNameSelection" class="timeSelection">
                                    <option value="default" selected>Subject</option>
                                </select>
                                    <input type="text" name="subjectMeetLinkInput" class="subjectNameInput fillParent" placeholder="Google Classroom Link">
                                    <button type="button" class="addLinkButton">&plus;</button>
                                </div>
                                <% } else { %>
                                    <p>Hello</p>
                                    <% } %>
                        </div>
                    </div>
                    <div class="innerCard">
                        <h2>3. Credentials:</h2>
                        <div class="credentials flex-equal">
                            <% if( !locals.personal_mail || !locals.personal_pass) { %>
                                <div class="credential-personal">
                                    <input type="text" name="personal_mail" class="subjectNameInput fillParent" placeholder="Personal Mail ID">
                                    <input type="password" name="personal_pass" class="subjectNameInput fillParent" placeholder="Password">
                                </div>
                                <% } else { %>
                                    <p>Hello</p>
                                    <% } %>
                                        <% if(!locals.institute_mail || !locals.institute_pass) { %>
                                            <div class="credential-institute flex-equal">
                                                <div class="disable-insitute-check">
                                                    <input type="checkbox" name="disable_institute" value="disable" id="disable-institute-mail">
                                                    <label for="disable-institute-mail" class="unisansThin">Disable</label>
                                                </div>
                                                <input type="text" name="institute_mail" class="subjectNameInput fillParent" placeholder="Institute Mail ID">
                                                <input type="password" name="institute_pass" class="subjectNameInput fillParent" placeholder="Institute password">
                                            </div>
                                            <% } else { %>
                                                <p>Hello</p>
                                                <% } %>
                        </div>
                    </div>

                </div>
            </div>
            <div class="submitForm">
                <button type="submit">Save</button>
            </div>
            </form>
    </div>






    <!-- Scripts -->
    <script type="text/javascript" src="index.js"></script>
</body>

</html>