<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: rgba(28, 28, 124, 0.699);">
    <div class="container">
        <div class="cardHolder">
            <div class="card allowOverflow fixedHeight">
                <h2>Routine</h2>
                <% for(var i = 0; i< day.length; i++) { %>
                    <button class="accordion last" type="button">
                    <span id="<%= i %>" class="day"><%= day[i] %></span>
                    <span class="icon">&plus;</span>
                </button>
                    <div class="routine">
                        <% if(routine[i].length > 0) { %>
                            <table>
                                <tr class="unisansHeavy">
                                    <th>Start Time</th>
                                    <th>Subject</th>
                                </tr>
                                <% for(var j = 0; j< routine[i].length; j++) { %>
                                    <% if(routine[i][j] == '')  { %>
                                        <% continue; %>
                                            <% } else { %>
                                                <tr class="unisansThin">
                                                    <td>
                                                        <%= startTime[i][j] %>
                                                    </td>
                                                    <td>
                                                        <%= routine[i][j] %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% } %>
                            </table>
                            <% } else { %>
                                <h4 class="unisansThin">Empty!</h4>
                                <% } %>
                    </div>
                    <% } %>
            </div>
            <div class="card"></div>
        </div>



        <div class="footer">
            <div class="social">
                <span class="links"><a href="https://github.com/SoujanyoB/class-automation" target="_blank"
                        rel="noopener noreferrer">Github</a></span>
                <span>&vert;</span>
                <span class="author"><a href="https://github.com/SoujanyoB" target="_blank"
                        rel="noopener noreferrer">Soujanyo Biswas</a></span>
                <span>&vert;</span>
                <span class="author"><a href="https://github.com/ayonization" target="_blank"
                        rel="noopener noreferrer">Ayon Sen</a></span>
            </div>
            <div class="websiteAdditional">
                <span><a href="#">Advanced Settings</a></span>
                <span>&vert;</span>
                <span><a href="/<%= token %>">Edit</a></span>
            </div>

        </div>

    </div>



    <!-- Scripts -->
    <script type="text/javascript" src="index.js"></script>
</body>

</html>